* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: grid;
  grid-auto-rows: 1fr 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "title nav" "main main" "footer footer";
  align-items: center;
  background: linear-gradient(to bottom, blue, white);
  /*tablet*/ }
  body nav {
    padding: 20px;
    grid-area: nav;
    text-align: center;
    background: rgba(57, 120, 255, 0.856);
    margin-bottom: 250px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    border-right: solid 1px black;
    bottom: 20px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }
    body nav .menu {
      list-style: none;
      display: flex;
      justify-content: space space-around;
      -webkit-text-stroke: 1px black;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
      body nav .menu .menu li:hover {
        background-color: #1919b3f3; }
        body nav .menu .menu li:hover .menu li a:hover {
          color: #d5f717; }
      body nav .menu .menu li a {
        display: inline-block;
        padding: 15px 20px;
        text-decoration: none;
        -webkit-text-stroke: 1px black;
        color: white; }
      body nav .menu .submenu {
        display: none;
        position: absolute;
        top: 75px;
        left: 1293px;
        list-style: none;
        background: grey;
        padding-left: 32px;
        padding-right: 34px;
        border: solid 1px black; }
      body nav .menu .submenudos {
        display: none;
        position: absolute;
        top: 75px;
        left: 1595px;
        list-style: none;
        background: grey;
        padding-left: 53px;
        padding-right: 69px;
        padding-bottom: 14px;
        border: solid 1px black;
        color: white; }
        body nav .menu .submenudos .submenudos li:hover {
          background-color: rgba(25, 25, 179, 0.952); }
          body nav .menu .submenudos .submenudos li:hover .submenu li a:hover {
            color: #d5f717; }
      body nav .menu .menu li:hover .submenu {
        display: inline-block; }
      body nav .menu .menu li:hover .submenudos {
        display: block; }
      body nav .menu .comprar {
        background-color: red; }
  body h1 {
    padding: 30.5px;
    grid-area: title;
    color: white;
    -webkit-text-stroke: 1px black;
    background: rgba(57, 120, 255, 0.856);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 250px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    border-left: solid 1px black;
    transition: rotate 2s;
    animation-name: titulo;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 2s; }
  body a {
    -webkit-text-stroke: 1px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white; }
  body main {
    grid-area: main;
    text-align: center;
    font-size: 200%;
    -webkit-text-stroke: 1px black; }
    body main .sectionuno {
      background-color: white;
      border: solid 1px; }
    body main .sectiondos {
      margin-top: 10px;
      background-color: white;
      border: solid 1px;
      margin-top: 50px; }
    body main iframe {
      margin: 10px; }
    body main form {
      border: solid 1px black;
      background-color: white; }
  body footer {
    grid-area: footer;
    padding: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    body footer .inicio {
      font-family: 'Courier New', Courier, monospace;
      display: flex;
      text-align: center;
      justify-content: center;
      justify-items: center;
      text-decoration: none;
      background: rgba(57, 120, 255, 0.856); }
  body h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  body .nave {
    padding: 20px;
    grid-area: nav;
    text-align: center;
    background: rgba(57, 120, 255, 0.856);
    margin-bottom: 510px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    border-right: solid 1px black;
    bottom: 20px; }
  body .logo {
    padding: 30.5px;
    grid-area: title;
    color: white;
    -webkit-text-stroke: 1px black;
    background: rgba(57, 120, 255, 0.856);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 510px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    border-left: solid 1px black; }
  @media screen and (max-width: 768px) {
    body body {
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 0.5fr 0.5fr;
      grid-template-areas: "title" "nav" "main" "footer"; }
    body nav {
      text-align: center;
      background: rgba(57, 120, 255, 0.856);
      border-bottom: solid 1px black;
      border-top: solid 1px black;
      border-right: solid 1px black; } }

@keyframes titulo {
  0% {
    background-color: white; }
  25% {
    background-color: blue; }
  50% {
    background-color: red; }
  75% {
    background-color: black; }
  85% {
    background-color: green; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
