*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: grid;
    grid-auto-rows: 1fr 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "title nav"
    "main main"
    "footer footer"
    ;
    align-items: center;
    background: linear-gradient(to bottom, blue, white);
    
}
h1
{   
    padding: 30.5px;
    grid-area: title;
    color: white;
    -webkit-text-stroke: 1px black;
    background: rgba(57, 120, 255, 0.856);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 250px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    border-left: solid 1px black ;
    transition: rotate 2s;
    animation-name: titulo;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 2s;
}
.img
{
    width: 100px;
    position: absolute;
    bottom: 827px;
    left: 50px;
    transition: all 2s;
    
}
.img:hover{
    transform: rotate(180deg);
    height: 100px; width: 100px;
}


nav
{   
    padding: 20px;
    grid-area: nav;
    text-align: center;
    background: rgba(57, 120, 255, 0.856);
    margin-bottom: 250px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    border-right: solid 1px black ;
    bottom: 20px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;

}

.menu
{
    list-style: none;
    display: flex;
    justify-content: space space-around;
    -webkit-text-stroke: 1px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu li a
{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    -webkit-text-stroke: 1px black;
    color: white;
    
}
a{
    -webkit-text-stroke: 1px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.menu li:hover
{
    background-color: #1919b3f3;
}
.menu li a:hover
{
    color: rgb(213, 247, 23);
}


.submenu
{
    display: none;
    position: absolute;
    top: 75px;
    left: 1293px;
    list-style: none;
    background: grey;
    padding-left: 32px;
    padding-right: 34px;
    border: solid 1px black;
}
.submenudos
{
    display: none;
    position: absolute;
    top: 75px;
    left: 1595px;
    list-style: none;
    background: grey;
    padding-left: 53px;
    padding-right: 69px;
    padding-bottom: 14px;
    border: solid 1px black;
    color: white;
    
   
}
.submenudos li:hover
{
    background-color: rgba(25, 25, 179, 0.952);
}
.submenu li a:hover
{
    color: rgb(213, 247, 23);
}

.menu li:hover .submenu
{
    display: inline-block;
}
.menu li:hover .submenudos
{
    display: block;
}
main
{
    grid-area: main;
    text-align: center;
    font-size: 200%;
    -webkit-text-stroke: 1px black;
    
}
footer
{
    grid-area: footer;
    padding: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inicio

{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-decoration: none;
    background: rgba(57, 120, 255, 0.856);
}
.comprar
{   
    background-color: red;
}
h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sectionuno
{
    background-color: white;
    border: solid 1px ;
}
.sectiondos
{
    margin-top: 10px ;
    background-color: white;
    border: solid 1px ;
    margin-top: 50px;
}
iframe
{
    margin: 10px;
}
form
{
    border: solid 1px black;
    background-color: white;
}
.nave
{   
    padding: 20px;
    grid-area: nav;
    text-align: center;
    background: rgba(57, 120, 255, 0.856);
    margin-bottom: 510px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    border-right: solid 1px black ;
    bottom: 20px;
    
}
.logo
{   
    padding: 30.5px;
    grid-area: title;
    color: white;
    -webkit-text-stroke: 1px black;
    background: rgba(57, 120, 255, 0.856);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 510px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    border-left: solid 1px black ;
}
/*tablet*/
@media screen and (max-width: 768px) {
	body{
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 0.5fr 0.5fr;
            grid-template-areas:
            "title"
            "nav"
            "main"
            "footer"
            ;
      }
    nav
    {   
    
        text-align: center;
        background: rgba(57, 120, 255, 0.856);
        border-bottom: solid 1px black;
        border-top: solid 1px black;
        border-right: solid 1px black ;
        
    }

      
}
@keyframes titulo{
    0%{ background-color: white; }
    25%{ background-color: blue; }
    50%{background-color: red; }
    75%{ background-color: black;}
    85%{background-color:green;}
 }
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }

 